  {% load static %}
   <footer>
	<div class="container-full footer__blok">
		<div class="container footer__blok_b1">
			<div class="footer__blok_cont">
				<div class="footer__blok_cont_list1 ">
					<img class="footer__blok_cont_list1_imgLogo" src="{% static 'img/Logo2-benzin-preview5.png' %}">
					<p class="footer__blok_b1_text_list1">Вы можите свезатся <br> с нами через соц сети</p>
					<div class="row footer__blok_b1_blokicon ">
						<div><a href="https://t.me/Unter_tutor"><img class="footer__blok_b1_icon"  src="{% static 'img/icon/telegram.png' %}"></a></div>
						<div><a href="https://vk.com/id494879933"><img class="footer__blok_b1_icon" src="{% static 'img/icon/vk.png' %}"></a></div>
						<div><a href="https://wa.me/9030914161"><img class="footer__blok_b1_icon" src="{% static 'img/icon/whatsapp.png' %}"></a></div>
					</div>
				</div>
				<div class="footer__blok_cont_list2">
					<p class="footer__blok_Menu_blok2 Menu"> Меню сайта</p>
					<div class ="footer__Menu">
					<form>
						<ul>
						<li><a class="footer__blok_Menu_blok2_link" href='home'>Домашняя</a></li>
						<li><a class="footer__blok_Menu_blok2_link" href='monitoring'>Мониторинг</a></li>
						<li><a class="footer__blok_Menu_blok2_link" href='help'>Помощь</a></li>
						<li><a class="footer__blok_Menu_blok2_link" href='authorization'>Авторизация</a></li>
						</ul>
					</form>
					</div>
				</div>
				<div class="footer__blok_cont_list3 ">
					<p class="footer__blok_Menu_blok3 programm"> Программы</p>
					<div class="footer__programm">
					<form>
						<ul>
							<li><a class="footer__blok_Menu_blok3_link" href="test">Тест</a></li>
							<li><a class="footer__blok_Menu_blok3_link" href="monitoring">Мониторинг</a></li>
						</ul>
					</form>
					</div>

				</div>
				<div class="footer__blok_cont_list4">
					<p class="footer__blok_Menu_blok4 slovar">Словарь</p>
					<div class="footer__slovar">
					<form>
						<ul>
							<li><a class="footer__blok_Menu_blok4_link" href="help">Сети</a></li>
							<li><a class="footer__blok_Menu_blok4_link" href="help">Интернет</a></li>
							<li><a class="footer__blok_Menu_blok4_link" href="help">Команда пинг</a></li>
							<li><a class="footer__blok_Menu_blok4_link" href="help">Интернет</a></li>
							<li><a class="footer__blok_Menu_blok4_link" href="help">Сетевой узел</a></li>
						</ul>
					</form>
					</div>
				</div>

			</div>
		</div>
		<div class="container footer__blok_b2">
			<div class="footer__blok_b2 footer__blok_botton ">
				<div class="  justify__content__center ">
					<img class="footer__blok_b2_img" src="{% static 'img/icon-rj45.png' %}">
					<p class="footer__blok_b2_text2">Авторское право 2023</p>
				</div>
			</div>
		<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
		<script src="{% static 'js/scpt.js' %}"></script>


		</div>
	</div>
</footer>